.auth-btn {
  width: 100%;
  border: none;
  outline: none;
  height: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--clr-white);
  background-color: var(--clr-orange);
  border-radius: 50rem;
  cursor: pointer;
  font-size: var(--fs-lg);

  &:hover{
    background-color: var(--clr-lightOrg);
  }
}