:root{
  --clr-white: #ffffff;
  --clr-black: #000000;

  


  --fs-sm: 0.875rem;  
  --fs-md: 1rem;      
  --fs-lg: 1.25rem;   
  --fs-xl: 1.5rem;    
  --fs-2xl: 1.75rem;  
  --fs-3xl: 2.25rem;  
  --fs-4xl: 3rem;     


}