.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3.5rem;
  color: var(--clr-white);
  box-shadow: var(--shadow-sm);
  
  background-color: var(--clr-orange);
  padding: 0 1rem;

  position: sticky;
  top: 0;
}

.search{

  & input {
    border: none;
    outline: none;
    padding:.5rem 1rem;
    width: clamp(20rem, 40vw, 50rem);
    border-radius: 50rem;
    color: var(--ts-primary);
  }

}

.logo{
  display: flex;
  align-items: center; 
  justify-content: center;
  gap: .25rem;

  & :hover{
    cursor: pointer;
    
  }
}